Repository AutoResearch/autora, pull requests merged in 2022-12, with the labels that each got.

#156 added popper sampler and pooler
  autora/experimentalist/sampler/poppernet.py
  example/pipeline/Experimentalist Pipeline Examples.ipynb
  tests/test_poppernet_sampler.py
Labels: enhancement, experimentalist

#158 added model disagreement sampler
  autora/experimentalist/sampler/model_disagreement.py
  tests/test_model_disagreement_sampler.py
Labels: enhancement, experimentalist

#162 added summed dissimilarity sampler
  autora/experimentalist/sampler/dissimilarity.py
  tests/test_summed_dissimilarity_sampler.py
Labels: enhancement, experimentalist

#179 added numpy compatibility for BMS predict method
  autora/theorist/bms/mcmc.py
  tests/test_poppernet_sampler.py
Labels: enhancement, theorist, blocker

#188 set variable range default to none so that it doesn't conflict with allowed values
  autora/variable/__init__.py
Labels: bug, blocker

#180 breaking change: refactored popper pooler
  autora/experimentalist/pooler/__init__.py
  autora/experimentalist/pooler/general_pool.py
  autora/experimentalist/pooler/poppernet.py
  autora/experimentalist/sampler/__init__.py
  autora/experimentalist/sampler/nearest_value.py
  example/cycle/simple_cycle_bms_model_poppernet.py
  tests/test_experimentalist_random.py
  tests/test_experimentalist_uncertainty.py
  tests/test_poppernet_pooler.py
Labels: bug, experimentalist, refactor

#171 feat: Closed Loop Cycle Plot Function
  autora/cycle/__init__.py
  autora/cycle/plot_utils.py
  example/cycle/cycle_results_plots.ipynb
  example/cycle/simple_cycle_bms_darts.ipynb
  tests/test_cycle_plots.py
Labels: enhancement
